.nav {display: flex;
min-height: 50px;
background-color: #606c38;
align-items: center;
}

.nav-link {color:#fefae0;}
.nav-link:hover {color:#87986a;}
.nav-link:focus {color:#87986a;}
.justify-content-center {
    justify-content: space-evenly!important;
}


ul {display: flex;
    list-style-type: none;
    padding: 0;


  }
  
  li {
    display: inline;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace, 300;
    text-transform: uppercase;
    letter-spacing: 4px;

  }